:root {
  --container-background-color: rgba(255, 255, 255, 1);
  --background-color: rgba(248, 248, 248, 1);
  --brand-logo-color: rgba(1, 60, 198, 1);
  --link-text-color: rgba(0, 0, 0, 1);
  --link-active-text-color: rgba(11, 99, 248, 1);

  --sidebar-md-width: 130px;
  --sidebar-lg-width: 230px;
}